version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:3000"
    depends_on:
      - postgres
    volumes:
      - ./server:/app/server
      - /app/server/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    env_file:
      - .env
    ports:
      - "${CLIENT_PORT}:5173"
    volumes:
      - ./client:/app/client
      - /app/client/node_modules
    depends_on:
      - server

volumes:
  pgdata:
