.small .icon {
  width: 20px;
  height: 20px;
}

.medium .icon {
  width: 32px;
  height: 32px;
}

.large .icon {
  width: 48px;
  height: 48px;
}

.text {
  font-weight: 600;
  color: $color-primary;
  text-transform: uppercase;
}
