.navmenu {
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.12);
  width: $menu-width;
  padding: 100px 0;
  background: $color-white;

  .navmenu__user {
    width: 100px;
    height: 100px;
  }

  .navmenu__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__link {
    color: $color-gray;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }

  &__link_active {
    color: $color-primary;
  }
}
