$color-white: #ffffff;
$color-black: #000000;

$color-gray: #777;
$color-gray-dark: #333;
$color-gray-light: #f5f5f5;

$color-primary: #8dcc57;
$color-danger: red;

$text-primary: $color-gray-dark;
$text-secondary: $color-gray;
$text-inverse: $color-white;

$font-size-base: 12px;
$letter-spacing-base: 0.8px;